* {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
#root {
  height: 100vh;
  width: 100vw;
  background-color: var(--primary-color);
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    'navbar content content'
    'navbar content content'
    'navbar content content';
  ::-webkit-scrollbar {
    display: none;
  }
}

:root {
  --primary-color: #1d3557;
  --secondary-color: #457b9d;
  --tertiary-color: #a8dadc;
  --button-color: #e63946;
  --white-color: #f1faee;
}

.navbar {
  grid-area: navbar;
  margin-bottom: 0;
  padding-bottom: 0;
}
.content {
  grid-area: content;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  margin-bottom: 0;
  padding: 0 var(--mantine-spacing-sm);
}
/*Notification*/
[data-portal='true'] {
  width: 300px;
  aspect-ratio: 1/1;
  position: absolute;
  top: 85%;
  right: 2%;
}
