.content > header {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mantine-spacing-md);
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
}
.content > header > h1 {
  font-size: rem(30px);
  font-weight: 300;
  color: var(--white-color);
  justify-self: flex-start;
  padding-top: 8px;
}
.content #add {
  margin-top: 15px;
}
.deleteButton {
  margin-right: 5px;
  display: flex;
}
.tss-1akey0g-MUIDataTableHeadCell-data {
  text-transform: capitalize;
}
/*delete value box*/
.deleteButton .m-46b77525 {
  margin: 0;
  padding: 0;
}

/*delete number input box*/
.deleteButton .m-6c018570 {
  width: 55px;
  margin: 5px 5px;
}
/*delete button*/
.deleteButton .m-77c9d27d {
  margin-top: rem(11px);
}
/*delete dialog*/
.delete-dialog h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding-left: 1.5rem;
}
.delete-dialog .delbuttongrp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
/*add product model*/
.addProduct {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.addProduct button {
  margin-top: 1rem;
}

/*Text Input*/
.addProduct .m-46b77525 {
  margin-top: 1rem;

}
/*Number input arrow*/
.addProduct .m-95e17d22 button {
  margin-top: 0;
  padding: 0;
  
}

