.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
}
.LoginPaper {
  margin: auto;
  width: rem(350px);
  aspect-ratio: 0.9/1;
  color: white;
}
.loginStack {
  text-align: left;
}
.loginInput .mantine-TextInput-label {
  font-size: 16.5px;
}
.loginInput .mantine-PasswordInput-label {
  font-size: 16.5px;
}

/*remove default asetric from label*/
.m-78a94662 {
  display: none;
}
